<div class='jumbotron'>
    <h1 class='text-center'>Welcome to myApp</h1>
</div>
<br>
<div>
    <button class='btn btn-primary' ng-click='increment()'>New</button>
    <input ng-model='filter' type='search', placeholder='User name'>
</div>
<div>
    <p>Total users: {{total}}</p>
</div>

<div clas='table-responsive'>
    <table class='table table-hover'>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat='contact in contacts | filter : filter'>
            <td>
                <a>{{contact.name}}</a>
            </td>
            <td>
                <a>{{contact.email}}</a>
            </td>
            <td class='text-center'>
                <button class='btn btn-warning'>Delete</button>
            </td>
        </tr>
    </table>
</div>
