<h1 class='text-center'>Contact</h1>

<p ng-show='message.text'>
    {{message.text}}
</p>

<form>
    <div class='form-group'>
        <label for='fullName'>First Name</label>
        <input type='text'  class='form-control'
        id='fullName' name='fullName' required ng-model='contact.name'>
    </div>
    <div class='form-group'>
        <label for='email'>Email</label>
        <div class='input-group'>
            <span class='input-group-addon'>@</span>
            <input type='email' class='form-control' id='email'
            name='email' required ng-model='contact.email'
            placeholder='user@mail.com'>
        </div>
    </div>
    <div>
        <button type='submit' class='btn btn-primary'>Salvar</button>
        <a href='#/' class='btn btn-default'>Back</a>
    </div>
</form>
