<!-- app/views/auth.ejs -->

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>User authentication</title>
    <meta name='viewport' content='width=device-width'>
    <meta charset='UTF-8'>
    <link rel='stylesheet'
        href='vendor/bootstrap/dist/css/bootstrap.css'>
    <link rel='stylesheet'
        href='vendor/bootstrap/dist/css/bootstrap-theme.css'>
</head>
<body>
    <div class='container'>
        <a href='/auth/github'>
            <h1 class='text-center'>Use Github to access MyApp</h1>
        </a>
    </div>
</body
</html>
